<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yingwumeijia.baseywmj">


    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 外部存储读权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="bc26ebb41cdaab04fcc0c4b8335879bb" />

        <activity
            android:name=".function.main.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".function.user.login.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".function.user.register.RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".function.search.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateVisible" />

    </application>

</manifest>