<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yingwumeijia.android.ywmj.client">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".function.splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.mzule.activityrouter.router.RouterActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="jam" /> <!-- 改成自己的scheme -->
            </intent-filter>
        </activity>
        <activity android:name=".function.person.TestActivity"></activity>

        <activity
            android:name=".function.home.CustomerMainActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".function.person.info.PersonInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".function.person.edit.EditPersonInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".function.coupon.CouponActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".function.coupon.details.CouponDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".function.coupon.details.CouponDetailForiscountActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".function.invite.InviteActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".function.enter.EnterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".function.enter.EditEnterActivity"
            android:screenOrientation="portrait" />

        <!--友盟统计-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57b532c867e58ec956000e3c"></meta-data>

        <!--渠道号-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
    </application>

</manifest>