<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yingwumeijia.android.worker">

    <!-- ⼩米 配置开始 < -->
    <permission
        android:name="com.yingwumeijia.android.worker.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.yingwumeijia.android.worker.permission.MIPUSH_RECEIVE" />
    <!-- ⼩米 配置结束 < -->
    <!--&lt;!&ndash; GCM 配置开始 < &ndash;&gt;-->
    <!--<permission-->
    <!--android:name="com.yingwumeijia.android.ywmj.client.permission.C2D_MESSAGE"-->
    <!--android:protectionLevel="signature" />-->
    <!--<uses-permission android:name="com.yingwumeijia.android.ywmj.client.permission.C2D_MESSAGE" />-->
    <!--&lt;!&ndash; GCM 配置结束 < &ndash;&gt;-->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ywmj_business_ico"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".function.splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".function.home.EmployeeMainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.yingwumeijia.android.worker"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <activity
            android:name=".function.collectunread.CollectUnreadActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".function.minecase.MineCaseActivity"
            android:screenOrientation="portrait" />


        <activity android:name=".function.person.info.PersonInfoActivity"
            android:screenOrientation="portrait"/>


        <!--会话-->
        <activity
            android:name=".function.conversation.details.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.yingwumeijia.android.worker"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <!--分享配置开始-->
        <!--微信-->
        <meta-data
            android:name="WX_APP_ID"
            android:value="wxe317a57cc8b93035" />
        <!--微博-->
        <meta-data
            android:name="WB_APP_KEY"
            android:value="3416527308" />
        <!--QQ-->
        <meta-data
            android:name="QQ_APP_ID"
            android:value="1105522002" />
        <!--分享配置结束-->


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57b54f88e0f55a51460024f2"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <!--高德地图-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="bc26ebb41cdaab04fcc0c4b8335879bb"></meta-data>

    </application>

</manifest>